@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,300&family=Poppins:wght@100;300&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #181a1a;
  background-color: #acc8d4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
  background-color: #2e2e2e;
  color: white;
  height: 40px;
  padding: 0px 24px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.card {
  width: 90%;
  min-width: 1000px;
  height: 70%;
  position: relative;
  background-color: #f4f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);
}
.card .content {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 40%;
}
.card .content .title {
  font-size: 54px;
  line-height: 100%;
  margin-bottom: 12px;
}
.card .content .description {
  opacity: 0.5;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 24px;
}
.card .content .action-card {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  padding: 18px;
}
.card .content .action-card .action-card-content .action-subtitle {
  font-weight: 700;
  opacity: 0.6;
  font-size: 12px;
}
.card .content .action-card .action-card-content .action-title {
  font-size: 18px;
  line-height: 150%;
}
.card .content .action-card .action-card-content .action-subtext {
  font-size: 12px;
  opacity: 0.4;
}
.card .content .action-card .button {
  margin-left: auto;
}
/* .card .circle {
  position: absolute;
  border-radius: 50%;
  width: 440px;
  height: 440px;
  top: 12%;
  right: 4%;
  background-color: #3735cf;
  box-shadow: 0px 0px 0px 293.3333333333px rgba(215, 241, 235, 0.3);
} */
.card .feature-image {
  position: absolute;
  height: 105%;
  bottom: -4px;
  right: -8px;
}
.card .header {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
}
.card .header .icon {
  width: 80px;
  margin-right: 25%;
}
.card .header .nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card .header .nav-bar .nav-item {
  cursor: pointer;
  margin-right: 36px;
  opacity: 40%;
  font-size: 14px;
  font-weight: 600;
}
.card .header .nav-bar .nav-item.active {
  opacity: 1;
  display: flex;
  justify-content: center;
}
.card .header .nav-bar .nav-item.active:after {
  content: "";
  bottom: 25%;
  position: absolute;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-color: #15c199;
}
.card .header .button {
  margin-left: auto;
}